server:
  port: 9191

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      routes:
        - id: EMP-SVC
          uri: lb://EMP-SVC
          predicates:
            - Path=/employee/**
          filters:
            - name: CircuitBreaker
              args:
                name: EMP-SVC
                fallbackuri: forward:/fallback/empFallBack

        - id: DEP-SVC
          uri: lb://DEP-SVC
          predicates:
            - Path=/department/**
          filters:
            - name: CircuitBreaker
              args:
                name: DEP-SVC
                fallbackuri: forward:/fallback/depFallBack

eureka:
  instance:
    preferIpAddress: true
    hostname: eureka-0.eureka
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://eureka-0.eureka.default.svc.cluster.local:8761/eureka

#Exposing Endpoints from actuator
management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        eventConsumerBufferSize: 10
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 10
        slidingWindowType: COUNT_BASED
    instances:
      EMP-SVC:
        baseConfig: default
      DEP-SVC:
        baseConfig: default

  retry:
    instances:
      EMP-SVC:
        registerHealthIndicator: true
        maxRetryAttempts: 5
        waitDuration: 10s
  ratelimiter:
    instances:
      EMP-SVC:
        registerHealthIndicator: false
        limitForPeriod: 10
        limitRefreshPeriod: 10s
        timeoutDuration: 3s


